<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>BBC - Add User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <style>
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
      }

      .centered-image {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body class="bg-dark shadow-2-strong text-white">
    <div th:replace="components :: nav"></div>

    <h1 class="centered-content">
      <s>About Us</s> <b> Big Banking Corporation </b>
      <br />
    </h1>

    <div th:each="teamMember : ${teamMembers}">
      <div class="card-with-spacing">
        <img
          class="centered-image"
          th:src="@{/images/__${teamMember.image}__}"
          th:alt="${teamMember.name}"
        />

        <div class="card centered-content">
          <br />
          <div class="card-title text-white" th:text="${teamMember.name}"></div>
          <div class="card-desc text-white" th:text="${teamMember.role}"></div>
          <br />
          <a th:href="${teamMember.link}" class="btn btn-primary"
            >LinkedIn Profile</a
          >
          <br />
        </div>
      </div>

      <div class="padding"></div>
    </div>

    <div style="display: flex; justify-content: center">
      <br />

      <form action="/">
        <button style="margin: auto" class="btn btn-secondary">
          Click here to Head Home!
        </button>
      </form>
    </div>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div th:replace="components :: footer"></div>
  </body>
</html>
