<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h2>User Entry Form</h2>
      <p th:text="${error}"></p>
      <form action="/save" method="get" id="form1" th:object="${user}">
        <table class="table table-striped">
          <tr>
            <td>User Name:</td>
            <td><input type="text" th:field="*{username}" /></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
          </tr>
          <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}" /></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
          </tr>

          <tr>
            <td>
              <div>
                <th:block th:each="role: ${listRoles}">
                  <input
                    type="radio"
                    name="userRole"
                    th:field="*{userRole}"
                    th:text="${role.name}"
                    th:value="${role.id}"
                    class="m-2"
                  />
                </th:block>
              </div>
            </td>
          </tr>
        </table>
      </form>
      <div class="text-center">
        <button
          style="margin-bottom: 50px"
          class="btn btn-success"
          type="submit"
          form="form1"
          value="Submit"
        >
          Submit
        </button>
        <button
          style="margin-bottom: 50px"
          class="btn btn-info"
          type="button"
          onclick="window.location.href='/'"
        >
          Home
        </button>
        <form action="/logout" method="post">
          <button
            style="margin: auto"
            class="btn btn-outline-secondary"
            type="submit"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
