<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> -->
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		<style>
			tr,td,th{
				border: 1px solid black;
			}
		</style>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<i>
		<p>Logged in as : <span sec:authentication="name"></span></p>
		<div sec:authorize="hasAuthority('ROLE_ADMIN')"></div>

		<table>
			<thead class="thead-dark">
				<tr>
					<th>User Id</th>
					<th>User Name</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Enabled</th>
					<th>Role</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="u:${usersList}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.username}"></td>
					<td th:text="${u.firstName}"></td>
					<td th:text="${u.lastName}"></td>
					<td th:text="${u.enabled}"></td>
					<td th:text="${u.userRole}"></td>

					<td sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a class="edit" th:href="@{'/edit/' +${u.id}}"> <button
								class="btn btn-warning">Edit</button>
						</a>
						<a th:href="@{'/delete/' + ${u.id}}"><button type="button"
								class="btn btn-danger">Delete</button></a></td>
								
								
				</tr>
			</tbody>
		</table>
		<hr>
		<div class="text-center" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
			<form th:action="@{/new}">
				<button style="margin-bottom: 50px" class= "btn btn-primary" type="submit">Add Users</button>
				
			</form>
		</div>
		
		<div class="text-center">
			<form action="/logout" method="post">
				<button style="margin: auto"class= "btn btn-outline-secondary" type="submit">Logout</button>
			</form>
		</div>
	</body>
</html>
