<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> -->
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		<style>
			tr,td,th{
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<p>Logged in as : <span sec:authentication="name"></span></p>
		<div sec:authorize="hasAuthority('ROLE_TELLER')">
		<!-- <p>You have: <span sec:authentication="principal.authorities[1]"></span>
			privilege </p> -->
		<!-- <div sec:authorize="hasAnyAuthority('Admin')">
			<span>Tested</span>
		</div> -->

		

	</body>
</html>
